#backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#clock {
    color: white;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 37%;
}

/* https://css-tricks.com/iron-mans-arc-reactor-using-css3-transforms-and-animations/ */
body {
    margin: 0;
}
.fullpage-wrapper {
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
}
.reactor-container {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px dashed #888;
    position: relative;
    border-radius: 50%;
    background-color: #384c50;
    border: 1px solid rgb(18, 20, 20);
    box-shadow: 0px 0px 16px 4px rgb(18, 20, 20), 0px 0px 2px 0.5px rgb(18, 20, 20) inset;
}
.reactor-container-inner {
    height: 119px;
    width: 119px;
    background-color: rgb(22, 26, 27);
    box-shadow: 0px 0px 2px 0.5px #52FEFE;
}
.circle {
    border-radius: 50%;
}
.abs-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.core-inner {
    width: 35px;
    height: 35px;
    border: 2.5px solid #1B4E5F;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3.5px 2.5px #52FEFE, 0px 0px 5px 5px #52FEFE inset;
}
.core-outer {
    width: 60px;
    height: 60px;
    border: 0.5px solid #52FEFE;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px 0.5px #52FEFE, 0px 0px 5px 2.5px #52FEFE inset;
}
.core-wrapper {
    width: 90px;
    height: 90px;
    background-color: #073c4b;
    box-shadow: 0px 0px 2.5px 2px #52FEFE, 0px 0px 3px 1px #52FEFE inset;
}
.tunnel {
    width: 110px;
    height: 110px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2.5px 0.5px #52FEFE, 0px 0px 2.5px 2px #52FEFE inset;
}
.coil-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation: 3s infinite linear reactor-anim;
}
.coil {
    position: absolute;
    width: 15px;
    height: 10px;
    top: calc(50% - 55px);
    left: calc(50% - 7.5px);
    transform-origin: 7.5px 55px;
    background-color:#073c4b;
    box-shadow: 0px 0px 2.5px #52FEFE inset;
}
.coil-1 {
    transform: rotate(0deg);
}
.coil-2 {
    transform: rotate(45deg);
}
.coil-3 {
    transform: rotate(90deg);
}
.coil-4 {
    transform: rotate(135deg);
}
.coil-5 {
    transform: rotate(180deg);
}
.coil-6 {
    transform: rotate(225deg);
}
.coil-7 {
    transform: rotate(270deg);
}
.coil-8 {
    transform: rotate(315deg);
}
@keyframes reactor-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
    color: #000000;
  }
  
  .container {
    position: absolute;
    bottom: 5%;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .container h2 {
    margin-bottom: 15px;
  }
  
  .container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background: #e1e1e1;
    color: #000000;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background: #006aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container button:hover {
    background: #02317d;
}

#toggleButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 140px;
    width: 140px;
}


body{
    margin:0;
    padding:0;
    background:rgba(0,0,0,.9);
  }
  ul{
    position:absolute;
    top:35%; /* Daha yukarı kaydırıldı */
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
  }
  ul li{
    list-style:none;
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
    animation:grow 1.6s ease-in-out infinite;
  }
  
  @keyframes grow{
    0% , 40% , 100% {
      transform:scale(0.2);
    }
    20%{
       transform:scale(1);
    }
  }
  
  ul li:nth-child(1){
    animation-delay:-1.4s;
    background:#000000;
    box-shadow:0 0 50px #040404;
  }
  ul li:nth-child(2){
    animation-delay:-1.2s;
    background:#000000;
    box-shadow:0 0 50px #000000;
  }
  ul li:nth-child(3){
    animation-delay:-1s;
    background:#0020d6;
    box-shadow:0 0 50px #0020d6;
  }
  ul li:nth-child(4){
    animation-delay:-0.8s;
    background:#e00707;
    box: shadow 0 0 50px #e00707;
  }
  ul li:nth-child(5){
    animation-delay:-0.6s;
    background:#0020d6;
    box-shadow:0 0 50px #0020d6;
  }
  ul li:nth-child(6){
    animation-delay:-0.4s;
    background:#000000;
    box-shadow:0 0 50px #000000;
  }
  ul li:nth-child(7){
    animation-delay:-0.2s;
    background:#000000;
    box-shadow:0 0 50px #000000;
  }