body {
    background-color: #252525;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Helvetica;
    overflow-y: auto;
}

.table-container {
    padding-top: 20px;
    max-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
}

h2, form, table {
    text-align: center;
    font-family: Helvetica;
}

.login-container, form {
    background: #313131;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid grey;
    font-family: Helvetica;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    font-family: Helvetica;
}

button {
    background-color: steelblue;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
}

button:hover {
    background-color: #1d4265;
}

table {
    border: 2px solid grey;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Helvetica;
}

th, td {
    border: 1px solid grey;
    padding: 10px;
    font-family: Helvetica;
}